[user]
    name = Alexander Antonov
    email = alexandr-post@yandex.ru

[color]
    ui     = auto
    status = auto
    diff   = auto
    branch = auto

[alias]
    a  = "!git add . && git st"
    br = branch
    cm = commit -m
    co = checkout
    pl = pull
    ps = push
    st = status

    # --no-ff Create a merge commit even when the merge resolves as a fast-forward.
    # --log To create more detailed commits messages.
    m = merge --no-ff --log

    # Updates current branch from master.
    up  = "!git refresh && git rebase origin/master"
    upa = rebase --abort
    upc = rebase --continue

    sui = submodule update --init
    out = log origin/HEAD..master
    ds  = diff --color-words

    # Resets Git cache and refresh list of remote branches.
    refresh = remote update -p

    # Resets the last commit but don't lose changes.
    undo = reset --soft HEAD^

    # Returns to the branch "master" with removing the merged previous feature branch.
    home = "!git co master && git refresh && git pl && git br -d @{-1} && git st"

    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[status]
    showUntrackedFiles = all

[pack]
    threads = 5

[core]
    editor = vim

[pull]
    rebase = true

[push]
    default = current

[remote "origin"]
    push = HEAD
