[user]
    name = Alexander Antonov
    email = alexandr-post@yandex.ru

[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto

[alias]
    br = branch
    cm = commit -m
    co = checkout
    pl = pull
    ps = push
    st = status

    # --no-ff Create a merge commit even when the merge resolves as a fast-forward.
    # --log To create more detailed commits messages.
    m = merge --no-ff --log

    up = m origin/master
    sui = submodule update --init
    out = log origin/HEAD..master
    diffshort = diff --color-words

    # Reset Git cache and refresh list of remote branches.
    refresh = remote update -p

    # Reset the last commit but don't lose changes.
    undo = reset --soft HEAD^

    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[status]
    showUntrackedFiles = all

[pack]
    threads = 5

[core]
    editor = vim

[push]
    default = current

[remote "origin"]
    push = HEAD
